@font-face {
  font-family: 'DragonBallFighterz-Regular';
  src: url('fonts/DragonBallFighterz-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ProbaPro-Regular';
    src: url('fonts/ProbaPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
  --dbfz-color-white: #ffffff;
  --dbfz-color-yellow: #ffba00;
}

.dbfz-color-white {
  color: var(--dbfz-color-white);
}

.dbfz-color-yellow {
  color: var(--dbfz-color-yellow);
}

.dbfz-window {
  position: relative;
  padding: 6px;
  font-size: 200%;
  font-family: "ProbaPro-Regular";
  text-shadow: 0.1em 0.1em black;
  color: var(--dbfz-color-white);
}

.dbfz-window:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 6px;
  border-image: url("images/DBFZ/CmnMenu/tex/window_bg_01.png") 6 fill stretch;
  z-index: -4;
}

.dbfz-window:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("images/DBFZ/CmnMenu/tex/window_bg_02.png");
  background-repeat: round;
  background-size: 14px 918px;
  z-index: -3;
}

.dbfz-window-orange:before {
  border-image: url("images/DBFZ/CmnMenu/tex/window_bg_01_orange.png") 6 fill stretch;
}

.dbfz-window-title {
  position: relative;
}

.dbfz-window-title:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 3px;
  background-image: url("images/DBFZ/CmnMenu/tex/window_title_00.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -2;
}

.dbfz-window-title:after {
  content: "";
  position: absolute;
  left: -64px;
  top: -40px;
  width: 256px;
  height: 128px;
  background-image: url("images/DBFZ/CmnMenu/tex/window_title_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.dbfz-selected {
  position: relative;
  color: white;
}

.dbfz-selected:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("images/DBFZ/CmnMenu/tex/window_arrow_key_01.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  animation: dbfz-selected 0.9s infinite alternate;
}

@keyframes dbfz-selected {
  0%   { opacity: 0.5; }
  100% { opacity: 1; }
}

.dbfz-selected:after {
  content: "";
  position: absolute;
  left: -2.75rem;
  top: 0rem;
  width: 1.5em;
  height: 1.5em;
  background-image: url("images/DBFZ/CmnMenu/tex/window_arrow_key_00.png");
  background-repeat: repeat;
  background-size: contain;
}
