body {
  padding-bottom: 1em;
  background-color: black;
}

h1, ul {
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: contain;
}

a {
  color: var(--dbfz-color-yellow);
}

.dbfz-selected a {
  color: var(--dbfz-color-white);
}

.dbfz-window {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}
